header {
    width: 960px;
    height: 75px;;
    margin: auto;#sidebar {
        /* Positioning */
        float: right;
      
        /* Visual */
        background: #eee;
      }
}

#name {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 75px;
    width: 200px;
    padding-top: 10px;
    padding-block: 5px;
    float: left;
}


#nav {
float: right;
}

#about-me {
    clear: both;
    overflow: auto;
}